numpy
scipy
scikit-learn
qdrant-client
fastembed
openai
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
boto3
nltk
langchain-google-genai
streamlit-chat
python-dotenv