numpy=='1.26.4'
scipy=='1.7.1'
scikit-learn=='0.24.2'
qdrant-client=='1.8.2'
fastembed=='0.2.5'
openai=='1.11.1'
langchain=='0.1.13'
langchain-community=='0.0.29'
langchain-core=='0.1.36'
langchain-openai=='0.1.1'
langchain-text-splitters=='0.0.1'
langsmith=='0.1.38'
boto3=='1.28.25'
nltk=='3.6.5'
langchain-google-genai=='1.0.1'